<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RestructureYinYueTai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F620F021F67A18D000D51A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F620F1B1F67A18D000D51A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F620F261F67A18D000D51A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
